<div id="header2" class="miko_hideable w3-hide-small">
    <div id="submenu" n:if="$presenter->getAction()=='gridslst'">
        <a id="donflst" class="selected" n:if="$user->isAllowed('sa_config','view')" n:href="gridslst">gridslst</a>
        </div>
</div>
